@font-face{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 200;
    font-display: swap;
    src: url(/XRXI3I6Li01BKofiOc5wtlZ2di8HDDshdTk3j77e.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

body{
    font-family: 'Nunito', sans-serif;
}