name: E2e test

on: [push, pull_request]

jobs:
  run-e2e-test:
    strategy:
      matrix:
        version: [16, 18]
        os: [ubuntu-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
        with:
          node-version: ${{ matrix.version  }}
      - name: Install berry
        run: yarn
      - name: test 2.x to 4.x
        run: yarn exec vitest e2e/vite[2-4]/**/*.spec.ts --coverage.enabled=false
  run-stable-e2e-test:
    strategy:
      matrix:
        version: [18,20]
        os: [ubuntu-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
        with:
          node-version: ${{ matrix.version  }}
      - name: Install berry
        run: corepack enable

      - name: install dependices
        run: yarn
      
      - name: test 5.x
        run: yarn exec vitest e2e/vite5/**/*.spec.ts --coverage.enabled=false


      